* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3a3a3b;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}